In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd

In [3]:
dadosDiabetes = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Diabetes.csv')

In [4]:
dadosDiabetes.head()

,Pregnancies,Preg_Ordinal,Plasma,Blood pressure,Blood Sugar,A1C,Height,Weight,BMI,age,Age_Ordinal,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,6,NaN,148.0,72.0,120.0,NaN,1.55,90.3,NaN,50,NaN,NaN,NaN,NaN
1,1,NaN,85.0,66.0,205.0,NaN,1.65,75.5,NaN,31,NaN,NaN,NaN,NaN
2,8,NaN,183.0,64.0,290.0,NaN,1.55,202.3,NaN,32,NaN,NaN,NaN,NaN
3,1,NaN,89.0,66.0,194.0,NaN,1.87,74.8,NaN,21,NaN,NaN,NaN,NaN
4,0,NaN,137.0,40.0,168.0,NaN,1.54,77.1,NaN,33,NaN,NaN,NaN,NaN

In [5]:
dadosDiabetes.describe()

,Pregnancies,Preg_Ordinal,Plasma,Blood pressure,Blood Sugar,A1C,Height,Weight,BMI,age,Age_Ordinal,Unnamed: 11,Unnamed: 12,Unnamed: 13
count,250.000000,0.0,248.000000,247.000000,248.000000,0.0,247.000000,247.000000,0.0,250.000000,0.0,0.0,0.0,0.0
mean,3.524000,NaN,120.423387,71.882591,179.004032,NaN,1.744572,75.811215,NaN,32.168000,NaN,NaN,NaN,NaN
std,2.693407,NaN,32.623142,14.802987,66.689959,NaN,0.157572,25.888371,NaN,11.115484,NaN,NaN,NaN,NaN
min,0.000000,NaN,0.000000,30.000000,50.000000,NaN,1.340000,10.840000,NaN,21.000000,NaN,NaN,NaN,NaN
25%,1.000000,NaN,99.000000,64.000000,128.000000,NaN,1.630000,60.920000,NaN,24.000000,NaN,NaN,NaN,NaN
50%,3.000000,NaN,113.000000,70.000000,165.000000,NaN,1.760000,73.360000,NaN,29.000000,NaN,NaN,NaN,NaN
75%,5.750000,NaN,142.000000,80.000000,218.250000,NaN,1.865000,89.525000,NaN,38.000000,NaN,NaN,NaN,NaN
max,9.000000,NaN,197.000000,174.000000,573.000000,NaN,2.580000,202.300000,NaN,69.000000,NaN,NaN,NaN,NaN

In [15]:
dadosDiabetes.median()

Pregnancies         3.00
Preg_Ordinal         NaN
Plasma            113.00
Blood pressure     70.00
Blood Sugar       165.00
A1C                  NaN
Height              1.76
Weight             73.36
BMI                  NaN
age                29.00
Age_Ordinal          NaN
Unnamed: 11          NaN
Unnamed: 12          NaN
Unnamed: 13          NaN
dtype: float64

In [6]:
def amplitudeInterquartil(q1, q3):
  inferior = q1 - (q3-q1)*1.5
  superior = q3 + (q3-q1)*1.5
  return (inferior, superior)

In [9]:
plasma = amplitudeInterquartil(99, 142)
print(plasma)

(34.5, 206.5)

In [10]:
Blood_pressure= amplitudeInterquartil(64, 80)
print(Blood_pressure)

(40.0, 104.0)

In [11]:
Blood_Sugar= amplitudeInterquartil(128, 218)
print(Blood_Sugar)

(-7.0, 353.0)

In [12]:
Height= amplitudeInterquartil(1.63,1.86 )
print(Height)

(1.2849999999999997, 2.2050000000000005)

In [13]:
Weight= amplitudeInterquartil(60.92, 89.52)
print(Weight)

(18.02000000000001, 132.42)